<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lazy digger - Alien Worlds Bot </title>
  <style>
    dummydeclaration {
      padding-left: 4em;
    }

    /* Firefox ignores first declaration for some reason */
    tab1 {
      padding-left: 4em;
    }

    tab2 {
      padding-left: 8em;
    }

    tab3 {
      padding-left: 12em;
    }

    /* Popup container - can be anything you want */
    .popup {
      position: relative;
      display: inline-block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* The actual popup */
    .popup .popuptext {
      visibility: hidden;
      width: 300px;
      height: 150px;
      background-color: #555;
      color: #fff;
      text-align: left;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      z-index: 1;
      top: 200%;
      left: 100%;
      margin-left: -80px;
    }

    /* Popup arrow */
    .popup .popuptext::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 20%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }

    /* Toggle this class - hide and show the popup */
    .popup .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
    }

    /* Add animation (fade in the popup) */
    @-webkit-keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="js/waxjs.js"></script>
  <script src="js/atomicassets.js"></script>
  <script src="js/int64-buffer.min.js"></script>
  <script src="js/eosjs-numeric.js"></script>
  <script src="js/eosjs-serialize.js"></script>
  <script src="js/function.js"></script>
  <script src="js/bot.js"></script>
  <script src="js/getDetail.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XSW8F4PRTJ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-XSW8F4PRTJ');
  </script>
</head>

<body class="bg-dark text-white">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <span class="fs-5 font-weight-bold"><b>Account: </b></span>
        <span id="user_account" class="fs-5 font-weight-bold"> xxxxx.wam</span>
        <br>
        <span class="fs-6"><b>Bot status: </b></span>
        <button id="run_btn" type="button" class="btn btn-warning fs-6"
          style="margin-left: 15px; margin-top: 10px; margin-bottom: 10px;">Waiting</button>
        <button id="save_config" type="button" class="btn btn-warning fs-6"
          style="margin-left: 15px; margin-top: 10px; margin-bottom: 10px; ">Save Config</button>
        <a class="btn btn-info" href="https://discord.gg/DRCkvyvGqg" target="_blank"
          style="margin-left: 5px; margin-top: 10px; margin-bottom: 10px;">Our Discord</a>
        <!-- <button id="test" type="button" class="btn btn-warning fs-6"
          style="margin-left: 15px; margin-top: 10px; margin-bottom: 10px; ">TEST</button> -->
        <br>
        <span class="fs-6 text-danger">ฺCountdown time > 0 before it can be pressed to 'STOP'.</span>
        <div class="border">
          <span class="fs-6"><b>Mining with: </b></span>
          <input type="radio" id="self" name="mining_with" value="self" checked="checked">
          <label for="self">self</label>
          <input type="radio" id="lazy" name="mining_with" value="lazy" disabled>
          <label for="lazy">lazy</label>
          <!-- <input type="radio" id="ninja" name="mining_with" value="ninja" disabled="true">
          <label for="ninja">ninja free(maintenance)</label> -->
          <input type="radio" id="ninja_vip" name="mining_with" value="ninja_vip">
          <label for="ninja_vip">ninja vip</label>
          <br>
          <span class="fs-6"><b>Real recieve TLM?: </b></span>
          <input type="checkbox" id="need_real_tlm">
          <br>
          <span class="fs-6"><b>Auto Update INFO: </b></span>
          <input type="checkbox" id="auto_update" checked><br>
          <span class="fs-6"><b>Auto claim NFTs: </b></span> <input type="checkbox" id="auto_claim">
          <input type="number" id="auto_claim_time" value="60" style="width: 50px;"><span class="fs-6"><b> min</b></span><br>
          <span class="fs-6"><b>Cpu time: </b></span>
          <input type="number" id="cpu_time" value="5.0" style="width: 50px;">
          <span class="fs-6"><b> min</b></span>
          <br>
          <br>
          <span class="fs-6"><b>Total get: </b></span>
          <span class="fs-6" id="toal_get">0.0000 TLM with 0 Times</span>
          <br>
          <br>
          <span class="fs-6"><b>Status: </b></span>
          <span class="fs-6" id="status"></span>
          <br>
          <br>
          <span class="fs-6"><b>Countdown: </b></span>
          <span class="fs-6" id="countdown">0m 0s</span>
          <br>
          <br>
          <span class="fs-6"><b>Last mine: </b></span>
          <span class="fs-6" id="last_mine"> - TLM. at -.</span>
          <br>
          <br>
          <span class="fs-6"><b>Next mine: </b></span>
          <span class="fs-6" id="next_mine"></span>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <div class="col">
            <span class="fs-6"><b>Wax Balance: </b></span><span class="fs-6" id="wax_balance"> 0.0000 WAX</span><br>
            <span class="fs-6"><b>TLM Balance: </b></span><span class="fs-6" id="tlm_balance"> 0.0000 TLM</span>
          </div>
          <div class="col">
            <span class="fs-6"><b>Cpu stake
                :</b></span><span class="fs-6" id="cpu_stake"> 0.0000 WAX</span><br>
            <span class="fs-6"><b>Cpu limit
                :</b></span><span class="fs-6" id="cpu_limit"> 00.00 %</span><br>
          </div>
          <div class="col-3">
            <button id="update_detail" type="button" class="btn btn-warning fs-6"
              style="margin-left: 15px; margin-top: 10px; margin-bottom: 10px; ">Update</button>
          </div>
          <br>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <span class="fs-6"><b>Your bag</b></span>
            <button id="save_bag" type="button" class="btn btn-danger btn-sm">Save</button>
            <br>
            <select class="custom-select custom-select-sm" id="bag_1">
              <option value="0">Empty (0)</option>
            </select>
            <br>
            <select class="custom-select custom-select-sm" id="bag_2">
              <option value="0">Empty (0)</option>
            </select>
            <br>
            <select class="custom-select custom-select-sm" id="bag_3">
              <option value="0">Empty (0)</option>
            </select>
          </div>
          <div class="col">
            <span class="fs-6"><b>Land
              :</b></span><span class="fs-6" id="land_name"> XXXXXXXXXXX 0:0</span><br>
            <span class="fs-6"><b>commission
              :</b></span><span class="fs-6" id="land_com"> 0%</span><br>
            <span class="fs-6"><b>Land ID
              :</b></span><span class="fs-6" id="land_id"> 12345678910</span><br>
            <span class="fs-6"><b>Land owner
              :</b></span><span class="fs-6" id="land_owner"> xxxxx.wam</span><br>
          </div>
          <br>
        </div>
        <span class="fs-6"><b>Mining Log (ฺBOT version 2.4.1)</b></span>

        <div class="popup" onclick="patchNote()"> ((Click to see "Patch Note"))
          <span class="popuptext" id="myPopup">**26/06/2021** <br> 
            - Add bag info<br>
            - Add set bag<br>
            - Add land info<br>
            - Fixed real tlm not correct
            - Fixed bot somtime not start
          </span>
        </div>
        <select class="form-select" id="wax_server" onchange="changeWaxServer(this.value)">
          <option value="0">https://wax.greymass.com</option>
          <option value="1">https://wax.pink.gg</option>
          <option value="2">https://wax.cryptolions.io</option>
          <option value="3">https://wax.dapplica.io</option>
          <!-- <option value="4">https://chain.wax.io</option> -->
          <!-- <option value="5">https://api.waxsweden.org</option> -->
        <textarea class="form-control box-shadow fs-6" rows="8" style="height:48.5%;" id="show_mine_log"
          disabled=""></textarea>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <span class="fs-4 font-weight-bold">Transaction: </span>
        <span class="fs-6">Most of error in this part cause by blocked IP</span><br>
        <span class="fs-6 text-danger">Recommend to puase bot before doing transaction</span>
        <!-- STAKE -->
        <div class="border">
          <div class="border border-dark">
            <span class="fs-6 badge badge-secondary" style="width: 130px;">STAKE</span>
            <input type="number" id="stake" placeholder="0.00000000 WAX"
              style="width: 150px; margin-left: 10px; margin-top: 10px; margin-bottom: 10px; padding-left: 5px;">
            <button id="stake_btn" type="button" class="btn btn-danger"
              style="margin-left: 15px; margin-top: 10px; margin-bottom: 10px; ">STAKE CPU</button>
              <button id="unstake_btn" type="button" class="btn btn-danger"
              style="margin-left: 15px; margin-top: 10px; margin-bottom: 10px; ">UNSTAKE CPU</button>
          </div>
          <!-- SWAP -->
          <div class="border border-dark">
            <span class="fs-6 badge badge-secondary" style="width: 130px;">TLM to WAX</span>
            <input type="number" id="swap_tlm" placeholder="0.0000 TLM"
              style="width: 150px; margin-left: 10px; margin-top: 10px; margin-bottom: 10px; padding-left: 5px;">
            <button id="swap_btn" type="button" class="btn btn-danger"
              style="margin-left: 15px; margin-top: 10px; margin-bottom: 10px; ">Sell at Best</button>
          </div>
          <!-- Set Land -->
          <div class="border border-dark">
            <span class="fs-6 badge badge-secondary" style="width: 130px;">Set Land</span>
            <input type="number" id="set_land" placeholder="1099512960003"
              style="width: 150px; margin-left: 10px; margin-top: 10px; margin-bottom: 10px; padding-left: 5px;">
            <button id="land_btn" type="button" class="btn btn-danger"
              style="margin-left: 15px; margin-top: 10px; margin-bottom: 10px; ">Change</button>
          </div>
          <!-- Transfer -->
          <div class="border border-dark">
            <span class="fs-6 badge badge-secondary" style="width: 130px;">Transfer</span>
            <input type="number" id="send_wax" placeholder="0.00000000 WAX"
              style="width: 100px; margin-left: 10px; margin-top: 10px; margin-bottom: 10px; padding-left: 5px;">
            <span class="fs-6 badge badge-secondary">to</span>
            <input type="text" id="to_acc" placeholder="xxxxx.wam"
              style="width: 100px; margin-top: 10px; margin-bottom: 10px; padding-left: 5px;">
            <span class="fs-6 badge badge-secondary">memo</span>
            <input type="text" id="memo" placeholder="put what you want"
              style="width: 130px; margin-top: 10px; margin-bottom: 10px; padding-left: 5px;">
            <button id="send_btn" type="button" class="btn btn-danger"
              style="margin-left: 15px; margin-top: 10px; margin-bottom: 10px; ">Send</button>
          </div>
          <!-- Claim NFT -->
          <div class="border border-dark">
            <span class="fs-6 badge badge-secondary" style="width: 130px;">Claim NFT</span>
            <input type="text" id="claim_nft_acc" placeholder="xxxxx.wam"
              style="width: 150px; margin-left: 10px; margin-top: 10px; margin-bottom: 10px; padding-left: 5px;">
            <button id="claim_btn" type="button" class="btn btn-danger"
              style="margin-left: 15px; margin-top: 10px; margin-bottom: 10px; ">Claim</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <br>
        <br>
        <a class="btn btn-success" href="https://wallet.wax.io/dashboard" target="_blank"
          style="margin-left: 5px; margin-top: 10px; margin-bottom: 10px;">Wax Dashboard</a>
        <a class="btn btn-success" href="https://www.alienworlds.fun  " target="_blank"
          style="margin-left: 5px; margin-top: 10px; margin-bottom: 10px;">Alienworlds.fun</a>
        <a class="btn btn-success" href="http://awstats.io/land/table" target="_blank"
          style="margin-left: 5px; margin-top: 10px; margin-bottom: 10px;">Find Lands</a>
        <a id="wax_bloks" class="btn btn-success" href="https://wax.bloks.io/" target="_blank"
          style="margin-left: 5px; margin-top: 10px; margin-bottom: 10px;">Wax bloks</a>
        <a id="atomic_hub" class="btn btn-success" href="https://wax.atomichub.io/" target="_blank"
          style="margin-left: 5px; margin-top: 10px; margin-bottom: 10px;">Atomic Hub</a>
        <a class="btn btn-success" href="https://wax.alcor.exchange/trade/tlm-alien.worlds_wax-eosio.token/"
          target="_blank" style="margin-left: 5px; margin-top: 10px; margin-bottom: 10px;">Alcor Exchange</a>
        <p class="fs-6"><u>Donate me(bot dev)</u> <b>: wqobq.wam</b>
        <p class="fs-6"><u>Join us.(bot dev)</u>
          <a class="btn btn-info" href="https://discord.gg/DRCkvyvGqg" target="_blank"
            style="margin-left: 5px; margin-top: 10px; margin-bottom: 10px;">Our Discord</a>
        <p class="fs-6"><u>Donate Ninja(mining server)</u> <b>: 2rqba.wam</b>
          <a class="btn btn-info" href="https://ninja-miner.com" target="_blank"
            style="margin-left: 5px; margin-top: 10px; margin-bottom: 10px;">Ninja-Server Discord</a>
      </div>
    </div>
  </div>
  <script>
    (function () {
      var old = console.log;
      var logger = document.querySelector("#show_mine_log");
      console.log = function (message) {
        let currdate = new Date()
        if (typeof message == 'object') {
          logger.value = padLeadingZeros(currdate.getDate(), 2) + '/' + padLeadingZeros(currdate.getMonth() + 1, 2) + '/' + padLeadingZeros(currdate.getFullYear(), 2) + ' ' + padLeadingZeros(currdate.getHours(), 2) + ':' + padLeadingZeros(currdate.getMinutes(), 2) + ':' + padLeadingZeros(currdate.getSeconds(), 2) + ':: ' + (JSON && JSON.stringify ? JSON.stringify(message) : message) + "\n" + logger.value;
        } else {
          logger.value = padLeadingZeros(currdate.getDate(), 2) + '/' + padLeadingZeros(currdate.getMonth() + 1, 2) + '/' + padLeadingZeros(currdate.getFullYear(), 2) + ' ' + padLeadingZeros(currdate.getHours(), 2) + ':' + padLeadingZeros(currdate.getMinutes(), 2) + ':' + padLeadingZeros(currdate.getSeconds(), 2) + ':: ' + message + "\n" + logger.value;
        }
      }
    })();
    function patchNote() {
      var popup = document.getElementById("myPopup");
      popup.classList.toggle("show");
    }
    (function() {
      if(parseInt(localStorage.getItem('wax_server')))
        document.querySelector("#wax_server").selectedIndex = parseInt(localStorage.getItem('wax_server'))
    })();
    loadConfig();
    login();
  </script>
</body>
<footer class="footer">
</footer>

</html>