<p>l00ogedin

    #@app.route('/getnonce', methods=['GET','POST'])
#async def getnonce():
    while True:
        wam = []
        nonce = []
        dataA = list(db.testvip.find())
        for item in dataA :  
            wam.append(item['wam']) 
            nonce.append(item['nonce'])
        try:      
            for x in range(len(wam))  :
                url = 'http://139.180.187.234/mine_worker?account='+wam[x]+'&nonce='+nonce[x] 
                r = requests.get(url)
                texxt = r.text
                print(r.text) 
                if len(texxt) >= 20 :
                    pass
                else : 
                    db.testvip.update_one({'wam' : wam[x]},{'$set':{'nonce':texxt}})
        except :
            pass   
        await time.sleep(240)
</p>



code 

{
    "code": "lazy01-10",
    "hash": "de5a7ed2529f402252b6a604cf95e9e183764ecf9c01254b1ee88d753da8610e",
    "wam": ["ujaeu.wam", ".fauu.wam", "f3auu.wam", "lvauu.wam", "qbauu.wam", "wvauu.wam", "5rbuu.wam", "dvbuu.wam", "lfbuu.wam", "wnceu.wam"],
    "count": "10",
    "start": {
        "$date": "2021-07-24T12:49:44.316Z"
    },
    "stop": {
        "$date": "2021-08-23T12:49:44.316Z"
    }
}

user 

{
    "username": "aaaaggg",
    "password": "asdasd",
    "wid": [{
        "id": "ujaeu.wam",
        "vip": 1,
        "code": "de5a7ed2529f4022",
        "vipstart": {
            "$date": "2021-07-24T12:49:44.316Z"
        },
        "vipend": {
            "$date": "2021-08-23T12:49:44.316Z"
        }
    }, {
        "id": ".fauu.wam",
        "vip": 1,
        "code": "de5a7ed2529f4022",
        "vipstart": {
            "$date": "2021-07-24T12:49:44.316Z"
        },
        "vipend": {
            "$date": "2021-08-23T12:49:44.316Z"
        }
    }, {
        "id": "f3auu.wam",
        "vip": 1,
        "code": "de5a7ed2529f4022",
        "vipstart": {
            "$date": "2021-07-24T12:49:44.316Z"
        },
        "vipend": {
            "$date": "2021-08-23T12:49:44.316Z"
        }
    }, {
        "id": "lvauu.wam",
        "vip": 1,
        "code": "de5a7ed2529f4022",
        "vipstart": {
            "$date": "2021-07-24T12:49:44.316Z"
        },
        "vipend": {
            "$date": "2021-08-23T12:49:44.316Z"
        }
    }, {
        "id": "qbauu.wam",
        "vip": 1,
        "code": "de5a7ed2529f4022",
        "vipstart": {
            "$date": "2021-07-24T12:49:44.316Z"
        },
        "vipend": {
            "$date": "2021-08-23T12:49:44.316Z"
        }
    }, {
        "id": "wvauu.wam",
        "vip": 1,
        "code": "de5a7ed2529f4022",
        "vipstart": {
            "$date": "2021-07-24T12:49:44.316Z"
        },
        "vipend": {
            "$date": "2021-08-23T12:49:44.316Z"
        }
    }, {
        "id": "5rbuu.wam",
        "vip": 1,
        "code": "de5a7ed2529f4022",
        "vipstart": {
            "$date": "2021-07-24T12:49:44.316Z"
        },
        "vipend": {
            "$date": "2021-08-23T12:49:44.316Z"
        }
    }, {
        "id": "dvbuu.wam",
        "vip": 1,
        "code": "de5a7ed2529f4022",
        "vipstart": {
            "$date": "2021-07-24T12:49:44.316Z"
        },
        "vipend": {
            "$date": "2021-08-23T12:49:44.316Z"
        }
    }, {
        "id": "lfbuu.wam",
        "vip": 1,
        "code": "de5a7ed2529f4022",
        "vipstart": {
            "$date": "2021-07-24T12:49:44.316Z"
        },
        "vipend": {
            "$date": "2021-08-23T12:49:44.316Z"
        }
    }, {
        "id": "wnceu.wam",
        "vip": 1,
        "code": "de5a7ed2529f4022",
        "vipstart": {
            "$date": "2021-07-24T12:49:44.316Z"
        },
        "vipend": {
            "$date": "2021-08-23T12:49:44.316Z"
        }
    }]
}